.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.logo {
  width: 228px;
  height: 32px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.content__description {
  margin-bottom: 100px;
}

.content__digits {
  margin-bottom: 100px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* ==========================HEADER========================================= */
.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 100px;
}

.logo_place_header {
  background: url("../images/header/logo_place_header.svg");
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  z-index: 2;
  margin: 0px 0px 0px 64px;
  max-width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  margin: 0;
  max-width: 388px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.header__link:hover {
  opacity: 0.6;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 765px;
  height: 608px;
}

.header__main-illustration img {
  width: 100%;
  height: 100%;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

/* ===============================description============================== */
.descriptions__two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns {
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  min-width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding-right: 15px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* ==============================Digits================================== */
.digits__title {
  margin: 0 auto 20px auto;
}
.digits__subtitle {
  margin: 0 auto;
}
.digits__table {
  margin: 0 auto;
}

/* =============================Table======================================= */

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin: 60px 0px 0px 0px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.table__text_width-margin {
  margin: 0px 0px 20px 0px;
}
