.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.logo {
  width: 228px;
  height: 32px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.section-title_theme_dark {
  color: #fff;
}
.section-subtitle_theme_dark {
  color: #fff;
}

.content__description {
  margin-bottom: 100px;
}

.content__digits {
  margin-bottom: 100px;
}

/* ==========================HEADER========================================= */
.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 100px;
}

.logo_place_header {
  background: url("../images/header/logo_place_header.svg");
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  z-index: 2;
  margin: 0px 0px 0px 64px;
  max-width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  margin: 0;
  max-width: 388px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.header__link:hover {
  opacity: 0.6;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 765px;
  height: 608px;
}

.header__main-illustration img {
  width: 100%;
  height: 100%;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

/* ===============================description============================== */
.descriptions__two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns {
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  min-width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding-right: 15px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* ==============================Digits================================== */
.digits__title {
  margin: 0 auto 20px auto;
}
.digits__subtitle {
  margin: 0 auto;
}
.digits__table {
  margin: 0 auto;
}

/* =============================Table======================================= */

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin: 60px 0px 0px 0px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0px 0px 0px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.table__text_width-margin {
  margin: 0px 0px 20px 0px;
}

/* =============================feynman======================================= */

.feynman {
  max-height: 756px;
  background-color: #f2f2f2;
  padding: 100px 0px 0px 0px;
  height: 85vh;
  position: relative;
  z-index: 1;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  max-width: 648px;
  text-align: center;
  margin: 0 auto 70px auto;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  transition: opacity 0.3s ease;
}

.feynman__link:hover {
  opacity: 0.6;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: -1;
}

.feynman__image img {
  width: 100%;
  height: 100%;
}

/* =============================kaufman======================================= */
.kaufman {
  position: relative;
  background-color: #1f1f1f;
  padding: 90px 0;
  z-index: -2;
  overflow: hidden;
}
.kaufman__title {
  margin: 0 auto 20px auto;
}

.kaufman__subtitle {
  margin: 0 auto;
}
.kaufman__table {
  margin: 0 auto;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: -1;
}

.kaufman__triangle img {
  width: 100%;
  height: 100%;
}

/* =============================footer======================================= */

.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  color: #fff;
}

.footer__columns {
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  min-height: 250px;
}

.footer__column {
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background: url("../images/logo_place_footer.svg");
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column_content_info {
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px 20px 0px;
}

.footer__column-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  transition: opacity 0.3s ease;
}

.footer__column-link a {
  color: #fff;
  text-decoration: none;
}

.footer__column-link img {
  margin: 0px 10px 0px 0px;
}

.footer__column-link:hover {
  opacity: 0.6;
}

.footer__column_content_social {
}
